<h1>
    <div mat-dialog-title>
        <span *ngIf="!isUpdate">Add Product</span>
        <span *ngIf="isUpdate">Update Product</span>
        <button type="button" class="close" style="color: black; margin-right: 20px; margin-bottom: 4px;"
            [mat-dialog-close]>&times;</button>
    </div>
</h1>

<div [formGroup]="productGroup">
    <mat-form-field appearance="fill" style="margin-left: 10px;">
        <mat-label>Product Id</mat-label>
        <input matInput required formControlName="id">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
        <mat-label>Product Description</mat-label>
        <input matInput required formControlName="productDesc">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" min="0" required formControlName="productQty">
    </mat-form-field>

    <mat-form-field appearance="fill" style="margin-left: 10px;">
        <mat-label>Price $</mat-label>
        <input matInput type="number" min="0" required formControlName="productPrice">
    </mat-form-field>

    <button mat-raised-button color="primary" style="margin-left: 10px; width: 100px;" *ngIf="!isUpdate"
        (click)=AddNewProduct() [mat-dialog-close] [disabled]="!productGroup.valid">Add</button>

    <button mat-raised-button color="primary" style="margin-left: 10px; width: 100px" *ngIf="isUpdate"
        (click)=UpdateProduct() [mat-dialog-close]>Update</button>

    <button mat-raised-button color="warn" style="margin-left: 10px; width: 100px" 
         [mat-dialog-close]>Close</button>

</div>