<mat-tab-group>
  <mat-tab label="Dashboard">
    <app-admin></app-admin>
  </mat-tab>
  <!-- <mat-tab label="Dashboard">
    <app-admin></app-admin>
  </mat-tab> -->
  <!-- <mat-tab label="Inventory">
    <app-></app-admin>
  </mat-tab> -->
</mat-tab-group>

<!-- <p>Added products will be displayed here</p>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
  </div>

  <div class="card card-accent-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-info">
      <h5 class="card-title">Info card title</h5>
      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
  </div>

  <div class="card border-success mb-3" style="max-width: 18rem;">
    <div class="card-header bg-transparent border-success">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
    </div>
    <div class="card-footer bg-transparent border-success">Footer</div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      Quisque hendrerit orci
    </a>
    <a href="#" class="list-group-item list-group-item-action">Maecenas dignissim iaculis<span><button class="btn-success">EDIT</button>  <button class="btn-danger">DELETE</button></span></a>
    <a href="#" class="list-group-item list-group-item-action">Aenean ligula neque</a>
    <a href="#" class="list-group-item list-group-item-action">In rutrum ante tincidunt</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Curabitur mollis suscipit quam</a>
  </div>


  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Actions</h3>
            <div class="list-group">
                <a class="list-group-item clearfix" onclick="alert('Action1 -> Details');">
                    Action1
                    <span class="pull-right">
                        <span class="btn btn-xs btn-default" onclick="alert('Action1 -> Play'); event.stopPropagation();">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </span>
                    </span>
                </a>
                <a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
                    Action2
                    <span class="pull-right">
                        <span class="btn btn-xs btn-default" onclick="alert('Action2 -> Play'); event.stopPropagation();">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>


<ul class="list-group cProductsList"> 
    <li class="list-group-item d-flex"><p class="p-0 m-0 flex-grow-1">First item</p> 
       <button class="btn-success">EDIT</button>  <button class="btn-danger">DELETE</button>
    </li>
   <li class="list-group-item d-flex"><p class="p-0 m-0 flex-grow-1">Second item</p>  
       <button class="btn-success">EDIT</button>  <button class="btn-danger">DELETE</button>
    </li> 
</ul> -->