<div style="padding: 0px;">
  <h2 mat-dialog-title class="themeColor">Confirmation</h2>
  <!-- <button type="button" class="close" [mat-dialog-close]>&times;</button> -->
</div>
<div mat-dialog-content>
  <div class="col-sm-12 row" style="margin: 0px;">
    <h3>Do you want to delete this product ?</h3>
  </div>
</div>
<div mat-dialog-actions>
  <div class="col-sm-12 row">
<div class="col-sm-5" style="padding-right: 5px;">
    <button mat-raised-button color="primary" (click) = "OnConfirmClick()" style="margin-left: 8px; float: right;">Yes</button>
  </div>
  <div class="col-sm-2"></div>
  <div class="col-sm-5">
    <button mat-raised-button color="warn" (click) = "DismissClick()" style="margin-left: 8px;">No</button>
  </div>
  </div>
</div>