<div class="container py-4">
  <div class="row">
    <div class="card border-0">
      <div class="card border-0 shadow col-sm-12">
        <div>
          <br>
          <mat-form-field appearance="legacy" style="margin-left: 10px; width: 35%;">
            <mat-label>Search Product </mat-label>
            <input matInput placeholder="Enter Product Id" (change)="SearchProduct()" type="number"
              [(ngModel)]="searchValue">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

          <button mat-raised-button color="primary" style="margin-left: 10px; width: 10%; float: right;" matTooltip="Add New Product"
            (click)=NewProduct()><span class="material-icons md-light md-40">playlist_add</span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Demo header-->
<div class="col-sm-12 container py-4">
  <div class="row mx-auto">
    <div class="card border-0 shadow card-body p-5">
      <!-- Responsive table -->
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
            <tr class="text-center">
              <th scope="col">Product Id</th>
              <th scope="col">Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price &#8377;</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody style="overflow: scroll;">
            <tr class="text-center" *ngFor="let item of dataService.myarray let i = index">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.productDesc }}</td>
              <td>{{ item.productQty }}</td>
              <td>{{ item.productPrice | currency:'INR'}}</td>
              <td style="align-content: center;">
                <!-- Call to action buttons -->
                <button mat-flat-button color="primary" style="margin: 2px;" (click)=EditProduct(i)><span
                    class="material-icons">edit</span></button>
                <button mat-flat-button color="warn" style="margin: 2px;" (click)=DeleteProduct(i)><span
                    class="material-icons">delete</span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>