<router-outlet></router-outlet>

<div class="footer footerColorScheme" style="z-index: 1000;">
    <h5 style="margin-left: 10px;color: white; font-size: 14px;">Copyright (C) ShopBridge 2021 All Rights Reserved</h5>
</div>