




/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import "~bootstrap/dist/css/bootstrap.css";
//@import '~material-design-icons/iconfont/material-icons.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #3F51B5;
    color: white;
 }